body {
  font-family: Ubuntu, Calibri, verdana;
}
.container {
    width: 600px;
    border: 25px;
    padding: 25px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}
h1{
	color: #128cdd;
	text-align: center;
}
.fake{
  color: red;
  text-transform: capitalize;
  font-size: 25px;
}
input[type=password], input[type=radio], input[type=text], input[type=file], select, textarea {
    font-family: Ubuntu, Calibri, verdana;
    margin-top: 0px !important;
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}
input[type=radio]{
    width: 10%;
}
input[type=submit][value="delete"]{
  width: 60px;
}
input[type=submit], button {
    width : 150px;
    background-color: #4A86E8;
    color: white;
    padding: 8px 8px;
    margin: 8px 5px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover, button {
    background-color: #4A86E8;
}

.clearfix {
  overflow: auto;
}

label{
  font-size:0.75em;
  display:block;
  padding-top: 0.7em;
  padding-bottom: 0.1em;
}
#data tbody tr {
  display: none;
}
.error {
	color : #940000;
	display : block;
}
td img {
  width: 60px;
}
.table-header-option {
  border-collapse: collapse;
  width:600px;
  color: black;
  font-size: 0.7em;
  font-weight: bold;
}
.table-header-option td {
  width: 120px;
  border: 1px solid black;
  padding : 10px 0px;
  text-align :center;
}

a.red:visited,
a.red:link,
a.red:active,
a.red:hover {
  color: #940000;
}

a.blue:visited,
a.blue:link,
a.blue:active,
a.blue:hover {
  color: #4A86E8;
}

a.orange:visited,
a.orange:link,
a.orange:active,
a.orange:hover {
  color: #FEA303;
}

a.green:visited,
a.green:link,
a.green:active,
a.green:hover {
  color: green;
}

a:visited,
a:link,
a:active {
  text-decoration :none;
  color: black;
}
a:hover{
  text-decoration: underline;
}

.header-highlight {
  background: #4A86E8;
  color :white;
}

.header-highlight a:visited,
.header-highlight a:link,
.header-highlight a:active,
.header-highlight a:hover
{
  color :white !important;
}

.header-user {
  text-align: right;
}

/*CSS For Header*/
  .greeting{
        text-align: right;
        padding-bottom: 20px;
    }
    .greeting a{
      color: #940000;
    }
    ul.table-header-option {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
        text-decoration: none;
    }

    .table-header-option li {
        float: left;
        width: 19.5%;
        height: 30px;
        border-right: 1px solid #000;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        text-orientation: center;
        text-decoration: none;
    }
    .table-header-option li:first-of-type {
        border-left: 1px solid #000;
    }
    .table-header-option li a {
        display: block;
        color: black;
        text-align: center;
        text-decoration: none;
        padding: 6px 13px;
    }

    .table-header-option li a:hover:not(.active) {
        color: white;
    }
    .table-header-option li:hover {
      background-color: #4A86E8;
    }

    .active {
        background-color: white;
    }

.small-description {
  font-size : 0.8em;
}

.catalog-product-left img,
.shop-product-left img,
.transaction-left img {
  border : 2px grey solid;
}

.catalog-product-left, .shop-product-left {
  width : 120px;
  vertical-align: top;
}

.catalog-product-mid, .shop-product-mid {
  width : 460px;
  vertical-align: top;
}

.catalog-product-right, .shop-product-right, .transaction-right {
  width : 120px;
}

.transaction-left {
  width : 120px;
  vertical-align: top;
}
.transaction-mid {
  width : 340px;
  vertical-align: top;
}

.transaction-right {
  width : 240px;
  vertical-align: top;
}

.float-right {
  float:right;
}
.float-left {
  float: left;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
  float: center;
}

td form input[type='submit']{
  float: none;
}